* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto; /* Menggunakan margin: 0 auto; untuk menengahkan */
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigation {
    width: 100%;
    padding: 20px 0 10px 0;
}

.box-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.box-navigation .box:nth-child(1) ul {
    font-size: 38px;
    color: white;
}

.box-navigation .box:nth-child(2) ul {
    display: flex;
    flex-direction: row;
}

.box-navigation .box:nth-child(2) ul li {
    list-style-type: none;
    margin-left: 40px;
}

.box-navigation .box:nth-child(2) ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.box-navigation .box:nth-child(2) ul li a:hover {
    color: greenyellow;
}

.box-navigation .box:nth-child(3) {
    display: none;
}

@media screen and (max-width: 1200px) {
    .about .box-about .box:nth-child(2) img{
        width: 400px;
    }
}

@media screen and (max-width: 575px) {
    .about .box-about .box:nth-child(1) h1{
        font-size: 34px;
    }

    .about .box-about .box:nth-child(1) h1{
        font-size: 14px;
    }


    .about .box-about .box:nth-child(2) img{
        width: 200px;
    }
}

@media screen and (max-width: 990px) {
    .navigation .box-navigation .box:nth-child(2){
        display: flex;
        position: absolute;
        top: 50px;
        right: 50px;
        background-color: white;
        width: 250px;
        border-radius: 10px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .navigation .box-navigation .menu-navigation.menu-active {
       opacity: 1; 
       top: 100px;
    }

    .navigation .box-navigation .box:nth-child(2) ul{
        flex-direction: column;
    }

    .navigation .box-navigation .box:nth-child(2) ul li{
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        color: #000;
    }

    .navigation .box-navigation .box:nth-child(2) ul li i{
        margin-inline: 10px;
        font-size: 18px;
    }

    .navigation .box-navigation .box:nth-child(2) ul li a{
        color: #000;
    }

    .navigation .box-navigation .box:nth-child(3) {
        display: flex;
        align-items: center;
    }

    .navigation .box-navigation .box:nth-child(3) i{
        font-size: 24px;
    }

    header .hero h1{
        font-size: 34px;
    }
}

@media screen and (max-width: 768px) {
    header .hero h1{
        font-size: 28px;
    }
}

@media screen and (max-width: 475px) {
    header .hero h1{
        font-size: 20px;
    }
}

/* hero */
header .hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .hero h1{
    color: rgba(255, 255, 255, 0.6);
    font-size: 32px;
    text-align: center;
}

/* about */
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about .box-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}


.about .box-about .box:nth-child(1){
    padding-right: 30px;
    text-align: center;
    margin-top: 30px;
}

.about .box-about .box:nth-child(1) h1{
    font-size: 34px;
}

.about .box-about .box:nth-child(1) p{
 line-height: 2;   
}

.about .box-about .box:nth-child(2) img{
    width: 600px;
    border-radius: 10px;
}
